body {
   top       : 0;
   left      : 0;
   right     : 0;
   bottom    : 0;
   margin    : 0;
   padding   : 0;
   font-size : 16px;
   color     : black;
   position  : absolute;
   background: #eee;
}

button {
   cursor: pointer;
}

.label {
   display     : inline-block;
   text-align  : center;
   font-weight : 700;
   font-size   : 1.1em;
   margin-right: 5px;
}

.flex>input,
select,
textarea,
span {
   flex: 1
}

select,
option,
.text_label,
input[type=text],
input[type=url] {
   flex-basis: 255px;
}

textarea,
.textarea_label {
   flex-grow : 2;
   flex-basis: 510px;
}

.number_label,
input[type=number] {
   flex-shrink: 2;
   flex-basis : 70px;
   min-width  : 70px;
}

select,
textarea,
option,
input,
button {
   height          : 2.25em;
   background-color: #fff;
   padding         : 0 .6em;
   display         : block;
   border          : 1px solid #ccc;
   box-shadow      : inset 0 1px 3px #ddd;
   box-sizing      : border-box;
   border-radius   : 3px;
   text-transform  : none;
   font-size       : 100%;
   line-height     : 1.15;
   margin-right    : 5px;
}

html,
input,
textarea,
select,
button,
textarea {
   font-family   : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: .01em;
}

button {
   font-weight: 500;
}

main {
   max-width    : 1140px;
   width        : 100%;
   padding-right: 15px;
   padding-left : 15px;
   margin-right : auto;
   margin-left  : auto;
   padding      : 2em;
}

.flex {
   display: flex;
}

.content-end {
   justify-content: flex-end;
}

.section {
   padding: 1em;
}

.drop-area {
   height          : 100px;
   border          : 2px dashed gray;
   background-color: whitesmoke;
   display         : flex;
   align-items     : center;
   justify-content : center;
}

.padding-top {
   padding-top: 4px;
}

.full_width {
   width: 100%;
}

.small_width {
   min-width: 50px;
}

.normal_width {
   min-width: 255px;
}

button b {
   font-size: 1.4em;
}

textarea {
   min-height: 125px;
   padding   : .5em .6em;
}